h1 {
    font-family: "Gentium Book Basic", Courier New;
    padding-top: 100px;
    padding-left: 200px;
}

p {
    font-family: "Gentium Book Basic", Courier New;
    padding-left: 200px;
    padding-right: 400px;
}

#one {
    padding-top: 50px;
    padding-bottom: 50px;
}

a {
    color: black;
}

#two {
    text-decoration: none;
}

#three {
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: bolder;
}

img {
    padding-left: 200px;
}

.custom-cur {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=186062);
}