/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

h1 {
    font-family: "Gentium Book Basic", Courier New;
    padding-top: 100px;
    padding-left: 200px;
}

p {
    font-family: "Gentium Book Basic", Courier New;
    padding-left: 200px;
    padding-right: 400px;
}

#one {
    padding-top: 50px;
    padding-bottom: 0px;
    padding-right: 700px;
    color: green;
}

#two {
  color: green;
}

p.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 8em
}

a {
  color: black;
}

video {
    padding-left: 200px;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

.portfolio-table {
  width: calc(100% - 400px);  /* Adjust the width to account for the margin */
  border-collapse: collapse;
  margin-left: 200px; 
  margin-right: 200px;
  table-layout: fixed;
}

.col-title { width: 50%; }
.col-publication { width: 30%; }
.col-date { width: 20%; }

.portfolio-table th,
.portfolio-table td {
  padding: 10px 0;
  text-align: left;
}

.portfolio-table thead th {
  font-weight: normal;
  background-color: white;
  font-family: "Gentium Book Basic", Courier New;
}

.portfolio-table tbody tr {
  border-bottom: 1px solid black;
  font-family: "Gentium Book Basic", Courier New;
}

.portfolio-table tbody tr:last-child {
  border-bottom: none;
}

.row-link {
  display: flex;
  text-decoration: none;
  color: inherit;
}

.row-link:hover {
  background-color: #fff4a1;
}

.row-link span {
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.row-link .col-title {
  white-space: normal;  /* Allows wrapping */
  word-wrap: break-word;  /* Breaks long words if necessary */
  overflow: visible;  /* Shows all content */
}

/* Styles for publication and date columns */
.row-link .col-publication,
.row-link .col-date {
  white-space: nowrap;  /* Keeps these on one line */
  overflow: hidden;
  text-overflow: ellipsis;  /* Adds ... if content is too long */
}

.row-link .col-publication {
  position: relative;  /* For pseudo-element positioning */
}

.row-link .col-publication::before {
  content: '';
  position: absolute;
  left: 0;
  top: 10%;  /* Adjust as needed */
  height: 80%;  /* Adjust as needed */
  width: 1px;
  background-color: white;
  opacity: .1;
}